body {
    font-family: Arial, sans-serif;
    background-color: #B0D9B1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(126, 103, 103, 0.2);
    background-color: #131313;
    color: #fff;
    text-align: center;
}

.calculator input[type="text"] {
    width: 95%;
    padding: 10px;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: #dad3d3;
    color: #141414;
    border-radius: 30px;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.calculator button {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #d26033;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #f75a1d;
}

/* Style for the delete and clear buttons */
.calculator .control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.calculator .control-buttons button {
    width: 48%;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #bb1c49d9;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.calculator .control-buttons button:hover{
    background-color: #f40b4d;
}
.buttons .orange{
    background-color: rgb(210, 153, 46);
}
.buttons .orange:hover{
    background-color: orange;
}